/**
 * copyright 2023 @lordziaga
 */

/*--------------------------------*\
  #CUSTOM PROPERTY
\*--------------------------------*/

:root {
	--red-cmyk: #fc0020ff;
	--harvest-gold: #e4ab11ff;
	--drab-dark-brown: #383009ff;
	--canary: #ffec18ff;
	--snow: #fdf7f7ff;
	--denim: #0060c7ff;
}

@media (max-width: 576px) {
	html {
		font-size: 0.8rem; /* Adjust font size for smaller screens */
	}

	.background-header {
		height: 300px; /* Adjust header height for smaller screens */
	}

	.img-footer.img-thumbnail {
		width: 100%; /* Make footer image fluid for smaller screens */
	}
}

@media (min-width: 576px) and (max-width: 991px) {
	html {
		font-size: 1rem; /* Reset font size for medium screens */
	}
}

@media (min-width: 992px) and (max-width: 1350px) {
	html {
		font-size: 1.1rem; /* Adjust font size for large screens */
	}
}

nav {
	background-color: var(--harvest-gold);
}

.jumbotron {
	background-color: var(--drab-dark-brown);
}
.background-header {
	background-image: url('resource/TNI-AL.jpg');
	border-image: fill 0 linear-gradient(#000, #0001);
	background-color: aliceblue;
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#service {
	background-color: rgb(255, 238, 238);
	margin-top: 15px;
}

#product {
	background-color: rgb(255, 255, 255);
	color: var(--drab-dark-brown);
	margin-top: 15px;
}

#about {
	background-color: rgb(255, 238, 238);
	margin-top: 15px;
}
#contact {
	background-color: rgb(255, 255, 255);
	color: var(--drab-dark-brown);
	margin-top: 15px;
}

footer {
	margin-top: 15px;
}

.img-footer {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 1350px;
}

.info,
.info-item {
	background-color: rgba(182, 182, 185, 0.178);
	/* padding-bottom: 1rem; */
	padding-top: 1rem;
}

li {
	list-style-type: none;
}

.text-shadow {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.blank {
	background-color: rgb(255, 238, 238);
}

.j-c {
	justify-content: center;
}

.text-blue {
	color: var(--denim);
}


h2.display-3 {
    overflow: hidden; /* Memastikan konten tidak keluar dari batas container */
    white-space: nowrap; /* Mencegah teks pindah ke baris baru */
}

h2:before, 
h2:after {
	background-color: var(--denim);
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

h2::before {
	right: 0.5em;
	margin-left: -50%;
}
h2::after {
	left: 0.5em;
    margin-right: -50%;
}
